.fun-container {
    display: flex;
    flex-direction: column;
    padding: 5% 10%;
    text-align: left;
}
  
.fun-container .fun-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
}
  
.fun-container .fun-grid .fun {
    text-align: left;

    p {
        font-size: 0.9em;
        margin-block-start: 0px;
        margin-block-end: 0px;
        font-family: "IBM Plex Sans", "Verdana", 'Courier Prime', "Roboto", sans-serif;
    }
}
  
.zoom {
    border-radius: 5px;
    transition: transform .2s;
    margin: 0 auto;
}
  
.zoom:hover {
    transform: scale(1.05);
}

@media screen {
    @media (max-width: 700px) {
        .fun-container {
            display: block;
            padding-left: 5%;
            padding-right: 5%;
            font-family: "Verdana", 'Courier Prime', "IBM Plex Sans", "Roboto", sans-serif;
        }
  
        .fun-container .fun-grid {
            display: block;
        }
      
        .fun-container .fun-grid .fun {
            padding-bottom: 5%;
        }
    }
}